<div class="form-centring">
  <form [formGroup]="authForm" class="login">
    <label>LOGIN</label>
    <app-custom-input
      [inputType]="'email'"
      [inputTitle]="'Enter your email:'"
      formControlName="email"
    ></app-custom-input>
    <app-custom-input
      [inputType]="'password'"
      [inputTitle]="'Enter your password:'"
      formControlName="password"
    ></app-custom-input>
    <button
      *ngIf="!(isLoading$ | async); else loaderGIF"
      (click)="login()"
      class="hover-scale"
    >
      Login
    </button>
  </form>
</div>

<ng-template #loaderGIF>
  <div class="loader">
    <img src="../../../assets/loader.gif" alt="loader" />
  </div>
</ng-template>
