span {
  width: 100%;
  font-size: 0.5em;
  text-align: left;
  margin: 2em 0 0.3em 1em;
}

input {
  min-height: 4em;
  width: 100%;
  outline: none;
  text-indent: 1em;
  border: solid 1px #4ABDAC;
  color: #414040;
}
