.accordion-element-styles {
  background-color: var(--smoke-white-color);
  font-size: 1.3em;
  border: solid var(--silver-color) 1px;
  margin: var(--2perc);
  .add {
    button {
      height: 3.3em;
      border: solid grey 1px;
    }
  }
}

.form-styles {
  font-size: 0.6em;
  div {
    display: grid;
    grid-template-columns: minmax(50%, auto) minmax(50%, auto);
    margin: var(--2perc) 0;
    label {
      text-align: left;
    }
  }
}
