:root {
    --smoke-white-color: #f5f5f5;
    --silver-color: silver;
    --standart-color: #717171;
    --red-color: red;
    --rgb-153-153-153: rgb(153,153,153);
    --rgb-204-204-204: rgb(204,204,204);
    --orangered-color: orangered;
    --login-theme-blue-color: #4abdac;

    --login-text-darkgrey-color: #414040;
    --white-color: white;
    
    --2perc: 2%;
}
