body {
    margin: 0;
    .mat-dialog-container {
        position: absolute;
        padding: 0;
        top: 0;
        left: 0;
    }
}

.silver-border {
    border: solid silver 1px;
}

.hover-scale {
    transition: 1s;
    &:hover {
        cursor: pointer;
        transition: 1s;
        transform: scale(1.1);
    }
}